.banner-div{
    float: left;
    width: 100%;
}

.banner-div img{
    float: left;
    width: 100%;
    height: 100px;

}
.main-div{
    float: left;
    width: 100%;
    margin: 5% 0% 0% 0%;

}
.main-left{
    float: left;
    width: 20%;
    margin: 7% 0% 0% 15%;

}

.main-left img{
    float: left;
    width: 100%;
}
.main-right{
    float: right;
    width: 50%;
    margin: 0% 1% 0% 0%;
    font-size: 28px;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    
}
  .main-right img{
    float: left;
    width: 100%;
  }


.gallery-div{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 2% 0% 10% 0%;
    font-size: 40px;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;

}
.gallery-div img{
    float: left;
    width: 20%;
    height: 220px;
}


.volunteer-div{
    float: left;
    width: 100%;
    margin: 0% 0% 6% 0%;

}
.volunteer-left{
    float: left;
    width: 25%;
    margin: 0% 5% 0% 15%;

}

.volunteer-left img{
    float: left;
    width: 100%;
    height: 550px;
}

.volunteer-right{
    float: left;
    width: 50%;
    margin: 0% 0% 0% 3%;
    
    
}

.volunteer-right h1{
    text-transform: uppercase;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: 45px;

}

.volunteer-right p{
    font-size: 25px;

}

#align{
    margin: 0% 0% 0% 15%;
    font-size: 25px;
}

.details-div{
    float: left;
    width: 100%;
  height: 300px;
    background-color: rgba(20, 20, 20, 0.762);
}

.sub-details{
    float: left;
    width: 20%;
    border: 3px solid aliceblue;
    color: black;
    height: 250px;
    margin: 2% 0% 0% 10%;



}
.sub-details h1{
   text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

.sub-details p{
    margin: 0% 0% 0% 6%;
    color: aliceblue;
    font-size: 22px;

}

.sub-details input , .sub-details select , .register-div input, .register-div button,.delete-div input{
    float: left;
    width: 90%;
    padding: 1% 0% 0% 0%;
    margin: 3% 0% 0% 3%;
    font-size: 22px;
    background-color: transparent;

}
.sub-details button,.register-div button{
    float: left;    
    width: 50%;
    margin: 3% 0% 0% 25%;

}

.footer{
    float: left;
    width: 100%;
    text-align: center;
    background-color: black;
    color: aliceblue;
  }

.normal-div{
    float: left;
    width: 40%;
    border: 4px solid black;
    margin: 10% 0% 0% 30%;
    height: 200px;
}

.normal-div a{
    float: left;
    width: 42%;
    border: 2px solid black;
    margin: 1.5% 0% 0% 5%;
    text-decoration: none;
    color: black;
    text-align: center;

}

.register-div,.delete-div{
    float: left;
    width: 40%;
    margin: 5% 0% 0% 30%;

}

.register-div button,.delete-div button{
    float: left;
    width: 90%;
    margin: 3% 0% 5% 3%;
    font-size: 22px;
}



