.banner-div{
    float: left;
    width: 100%;
}

.banner-div img{
    float: left;
    width: 100%;
    height: 100px;

}
.main-div{
    float: left;
    width: 100%;
    margin: 5% 0% 0% 0%;

}
.main-left{
    float: left;
    width: 25%;
    margin: 7% 0% 0% 15%;
}

.main-left img{
    float: left;
    width: 100%;
}
.main-right{
    float: right;
    width: 50%;
    margin: 0% 1% 0% 0%;
    
}
  .main-right img{
    float: left;
    width: 100%;
  }