<!DOCTYPE html>
<html>
<head>

    <title>Final project</title>
    <link rel="stylesheet" href="../static/css/style.css">
  


</head>
<body>

    <div class="banner-div">
        <img src="../static/images/qis_banner.png">
   
   </div>
     

   <div class="main-div">
      <div class="main-left">
         <img src="../static/images/admissions.jpg" alt="noimg">
      </div>
      <div class="main-right">
        <h1>manage admissions</h1>
        <img src="../static/images/college.png" alt="noimg">
      </div>
   </div>
</body>
</html>