<!DOCTYPE html>
<html lang="en">
<head>
    <title>register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <div class="banner-div">
        <img src="../static/images/qis_banner.png">
     
     </div>
    <div class="register-div">
        <form action="" method="">
         <input type="number" placeholder="ID" name="id">
         <input type="text" placeholder="name" name="name">
         <input type="email" placeholder="Email" name="email">
         <input type="number" placeholder="phone" name="phone">

         <input type="number" placeholder="inter percentage" name="percentage">
         <input type="number" placeholder="emcentrank" name="rank">
         <input type="text" placeholder="course" name="course">
         <input type="address" placeholder="Address" name="address">
        <button type="submit">Register</button>

        </form>
    </div>

</body>
</html>